target/
.idea/
.vscode/
*.iml
*.log
.DS_Store

# Local secrets
config/datasource-secrets.yml
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars.backup
.terraform.lock.hcl
terraform.tfvars.local

# Docker
*.tar
.dockerignore.bak
